* {
  box-sizing: border-box;
  min-width: 0;
}

:root {
  --navBar-height: 10vh;
  --navBar-height-scrolled: 9vh;
  --navBar-width: 85vw;
  --navBar-timing: 0.3s ease-in-out;
  --anim-timing: 150ms ease-in-out;
  --palette-white: #EFEFEF;
  --palette-red: #7E1519;
  --burgerLine-width: 40px;
  --burgerLine-height: 4px;
  --burgerLine-gap: 8px;
  --burgerLine-right: 2%;
  --navBarFont-weight: 500;
  --h1-font-weight: 700;
  --p-font-weight: 100;
}

/* ------------------------------APP.JS STYLES------------------------------ */
h1, p {
  margin:0
}

.wholePage {
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  height: 120vh;
  width: 100vw;
}

.placeholder {
  height: 84vh;
  width: calc(98vw - 20px);
  font-family: Montserrat;
  font-size: large;
  font-weight: 900;
  color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed darkcyan;
  margin: 1vw;
}
/* ------------------------------BACKGROUND STYLES------------------------------ */
.changingBackground {
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* ------------------------------NAVBAR STYLES------------------------------ */
.navBar {
  overflow: hidden;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat';
  background-color: var(--palette-red);
  font-weight: var(--navBarFont-weight);
  transition: top var(--navBar-timing), width var(--navBar-timing), height var(--navBar-timing), margin-bottom var(--navBar-timing);
  z-index: 0;
  top: 5vh;
  width: var(--navBar-width);
  height: var(--navBar-height);
  margin-bottom: calc(-1*var(--navBar-height));
}

.scrolled {
  top: 0;
  width: 100vw;
  height: var(--navBar-height-scrolled);
  margin-bottom: calc(-1*var(--navBar-height-scrolled));
}

.mainLogo {
  height: var(--navBar-height);
  margin-left: 15px;
}

.clickablesContainer {
  display: flex;
  transition: left 3s ease-in-out;
  align-items: center;
  flex: 1;
}

.navBtn {
  margin-right: 15px;
  text-align: center;
  font-size: 1rem;
  display: flex;
  color: #EFEFEF;
  transition: opacity 0.5s ease-in;
  opacity: 0;
  animation: unrevealBtn 1s ease-out forwards;
}

.revealed .navBtn {
  opacity: 1;
  animation: revealBtn 1s ease-in-out forwards;
}

.flag {
  display: flex;
  height: 22.5px;
  min-width: 37.5px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
  transition: opacity 0.8s ease-in;
  opacity: 0;
  animation: unrevealFlag 1s ease-out forwards;
}

.revealed .flag {
  opacity: 1;
  animation: revealFlag 1s ease-in-out forwards;
}

@keyframes revealBtn {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes unrevealBtn {
  to {
    transform: translateX(60vw);
  }
}

@keyframes revealFlag {
  from {
    transform: translateX(80vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes unrevealFlag {
  to {
    transform: translateX(80vw);
  }
}

.spanishFlag {
  background-image: url('./Resources/Images/spanishLogo.png');
}

.englishFlag {
  background-image: url('./Resources/Images/englishLogo.png');
}

.chineseFlag {
  background-image: url('./Resources/Images/chineseLogo.png');
  margin-right: auto;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent 50%, rgb(245, 225, 160) 300%);
  pointer-events: none;
  z-index: 1;
}
/* ------------------------------BURGER MENU STYLES------------------------------ */
.burgerMenu {
  box-sizing: content-box;
  height: min-content;
  width: var(--burgerLine-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 100px 10px;
  padding-right: var(--burgerLine-right);
  background-color: var(--palette-red);
  transition: gap var(--anim-timing);
  gap: var(--burgerLine-gap);
  z-index: 1;
}

.burgerMenu::before,
.burgerMenu div,
.burgerMenu::after {
  content: "";
  transform-origin: right center;
  border-radius: 0px;
  height: var(--burgerLine-height);
  background-color: var(--palette-white);
  transition: rotate var(--anim-timing), opacity var(--anim-timing), width var(--anim-timing);
  z-index: 2;
}

.burgerMenu::before {
  width: var(--burgerLine-width);
  rotate: 0deg;
}

.burgerMenu div {
  width: var(--burgerLine-width);
  opacity: 1;
}

.burgerMenu::after {
  rotate: 0deg;
  width: var(--burgerLine-width);
}

/* IF CHECKED */

.revealed .burgerMenu {
  gap: 5px
}

.revealed .burgerMenu::before {
  rotate: -45deg;
  width: 25px;
}

.revealed .burgerMenu div {
  opacity: 0;
  width: 0;
}

.revealed .burgerMenu::after {
  rotate: 45deg;
  width: 25px;
}


/* ------------------------------ANIMATED TEXT STYLES------------------------------ */
.changingTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 50%;
  margin-left: 8%;

  font-family: 'Montserrat';
  font-weight: var(--h1Font-weight);
  color: white;
  text-shadow: 4px 4px 4px black;
}

.changingH1 {
  display: flex;
  font-weight: var(--h1-font-weight)
}

.changingP {
  display: flex;
  font-weight: var(--p-font-weigth);
}