* {
  box-sizing: border-box;
  min-width: 0;
}

:root {
  --navBar-height: 10vh;
  --navBar-timing: 0.3s ease-in-out;
  --anim-timing: 200ms ease-in-out;
  --palette-white: #EFEFEF;
  --palette-red: #7E1519;
  --burgerLine-width: 40px;
  --burgerLine-height: 5px;
  --burgerLine-gap: 8px;
  --burgerLine-right: 15px;
  --navBarFont-weight: 500;
  --h1-font-weight: 700;
  --p-font-weight: 100;
}

/* ------------------------------APP.JS STYLES------------------------------ */
h1, p {
  margin:0
}

.wholePage {
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  height: 100vh;
  width: 100vw;
}

.placeholder {
  height: 84vh;
  width: calc(98vw - 20px);
  font-family: Montserrat;
  font-size: large;
  font-weight: 900;
  color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed darkcyan;
  margin: 1vw;
}

/* ------------------------------NAVBAR STYLES------------------------------ */
.navBarUnscrolled, .navBarScrolled {
  overflow: hidden;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat';
  background-color: var(--palette-red);
  height: var(--navBar-height);
  font-weight: var(--navBarFont-weight);
  z-index: 9;
}

.navBarUnscrolled, .navBarScrolled, .navBarUnscrolled *, .navBarScrolled * {
  transition: top var(--navBar-timing), width var(--navBar-timing), height var(--navBar-timing);
}

.navBarUnscrolled {
  --navBar-height: 10vh;
  top: 5vh;
  width: 90vw;
}
.navBarScrolled {
  --navBar-height: 9vh;
  top: 0;
  width: 100vw;
}

.unreveal .navBtn {
  transition: opacity 0.5s ease-in;
  opacity: 0;
  animation: unrevealBtn 1s ease-out forwards;
}

.unreveal .englishFlagLogo, .unreveal .spanishFlagLogo, .unreveal .chineseFlagLogo {
  transition: opacity 0.8s ease-in;
  opacity: 0;
  animation: unrevealFlag 1s ease-out forwards;
}
.reveal .navBtn {
  transition: opacity 0.5s ease-in;
  opacity: 1;
  animation: revealBtn 1s ease-in-out forwards;
}

.reveal .englishFlagLogo, .reveal .spanishFlagLogo, .reveal .chineseFlagLogo {
  transition: opacity 0.8s ease-in;
  opacity: 1;
  animation: revealFlag 1s ease-in-out forwards;
}

@keyframes revealBtn {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes unrevealBtn {
  to {
    transform: translateX(60vw);
  }
}

@keyframes revealFlag {
  from {
    transform: translateX(80vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes unrevealFlag {
  to {
    transform: translateX(80vw);
  }
}

.spanishFlagLogo, .chineseFlagLogo, .englishFlagLogo {
  display: flex;
  height: 22.5px;
  min-width: 37.5px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
}

.spanishFlagLogo {
  background-image: url('./Resources/Images/spanishLogo.png');
}

.englishFlagLogo {
  background-image: url('./Resources/Images/englishLogo.png');
}

.chineseFlagLogo {
  background-image: url('./Resources/Images/chineseLogo.png');
  margin-right: auto;
}

.mainLogo {
  height: var(--navBar-height);
  margin-left: 15px;
}

#navButtons {
  display: flex;
  transition: left 3s ease-in-out;
  align-items: center;
  flex: 1;
}

.navBtn {
  margin-right: 15px;
  text-align: center;
  font-size: 1rem;
  display: flex;
  color: #EFEFEF;
}

/* ------------------------------BURGER MENU STYLES------------------------------ */
.burgerMenu {
  box-sizing: content-box;
  height: min-content;
  width: var(--burgerLine-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  padding: 100px 10px;
  padding-right: var(--burgerLine-right);
  background-color: var(--palette-red);
  z-index: 10;
  transition: gap var(--anim-timing);
}

.burgerMenu::before,
.burgerMenu::after,
.burgerMenu input {
  content: "";
  transform-origin: right center;
  border-radius: 0px;
  height: var(--burgerLine-height);
  background-color: var(--palette-white);
  transition: rotate var(--anim-timing), opacity var(--anim-timing), width var(--anim-timing);
}

.burgerMenu:not(:has(input:checked)) {
  gap: var(--burgerLine-gap)
}

.burgerMenu:has(input:checked)::before {
  rotate: -45deg;
  width: 25px;
}

.burgerMenu::before {
  width: var(--burgerLine-width);
  rotate: 0deg;
}

.burgerMenu::after {
  rotate: 0deg;
  width: var(--burgerLine-width);
}

.burgerMenu:has(input:checked):after {
  width: 25px;
  rotate: 45deg;
}

.burgerMenu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
  width: var(--burgerLine-width);
  opacity: 1;
}

.burgerMenu input:checked {
  opacity: 0;
  width: 0;
}

/* ------------------------------BACKGROUND STYLES------------------------------ */
.background {
  top: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* ------------------------------ANIMATED TEXT STYLES------------------------------ */
.changingTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 50%;
  margin-left: 8%;

  font-family: 'Montserrat';
  font-weight: var(--h1Font-weight);
  color: white;
  text-shadow: 4px 4px 4px black;
}

.changingH1 {
  display: flex;
  font-weight: var(--h1-font-weight)
}

.changingP {
  display: flex;
  font-weight: var(--p-font-weigth);
}